
.recipe_container {
    width: 12rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: white;
    justify-content: space-around;
}

.recipe-img {
    float: left;
    width:  12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.5rem  0.5rem 0 0;
    margin-bottom: 1rem;
}

.recipe-title,
.recipe-description {
    margin: 0.5rem 5%;
    font-size: 0.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
    display: inline;
    /* flex-direction: row; */

}
body {
    background-color: #ffd700;
}

 .btnDELETE, .btnUPDATE {
    color: black;
    background-color: #f7d378;
    border-color: #f69a44;
    width: 7em;
    margin: 0.8rem;
    border-radius: 0.3rem;
    padding:3px 10px 3px 10px;
    font-weight: lighter;
    border-radius: 10px;
    font-size: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.btnUPDATE:hover {
    background-color:#3569f7;
    transition: 0.7s;
    font-weight: bold;
    color: #ffd700;
}
.btnDELETE:hover {
    background-color:rgb(245, 85, 85);
    transition: 0.7s;
    font-weight: bold;
    color: #ffd700;
}
.button_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.label {
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 0;
}

.recipe-title {
    font-size: 1rem;
}
